.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -10px;
}

.grid>.grid-item {
    padding: 10px;
}

.grid-bordered .grid-item::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #cccccc;
    left: 0;
    right: 0;
}

@media (min-width: 480px) {
    .grid-large {
        margin: -18px;
    }
    .grid-large>.grid-item {
        padding: 18px;
    }
}

@media (min-width: 640px) {
    .grid-large {
        margin: -30px;
    }
    .grid-large>.grid-item {
        padding: 30px;
    }
    .grid-medium {
        margin: -25px;
    }
    .grid-medium>.grid-item {
        padding: 25px;
    }
}

@media (min-width: 940px) {
    .grid-bordered .grid-item::after {
        display: none;
    }
}

@media (min-width: 1200px) {
    .grid-large {
        margin: -45px;
    }
    .grid-large>.grid-item {
        padding: 45px;
    }
}