.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.grid>.grid-item {
    padding: 10px;
}

.grid-bordered .grid-item::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #cccccc;
    left: 0;
    right: 0;
}

@media (min-width: 640px) {
    .grid-large>.grid-item:not(:first-child) {
        padding-left: 60px;
    }
}

@media (min-width: 960px) {
    .grid-bordered .grid-item::after {
        display: none;
    }
    .grid-medium>.grid-item:not(:first-child) {
        padding-left: 40px;
    }
}

@media (min-width: 1200px) {
    .grid-large {
        margin: -45px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .grid-large>.grid-item {
        padding: 45px;
    }
    .grid-medium {
        margin: -40px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .grid-medium>.grid-item {
        padding: 40px;
    }
}