.list-title {
    color: #546e7a;
    font-size: 20px;
    font-style: italic;
    line-height: 28px;
}

.list-item {
    padding-bottom: 15px;
}

.list>.list-item:last-child {
    padding-bottom: 0;
}