.section {
    position: relative;
    z-index: 0;
    padding: 15px 0;
    text-align: center;
}

.section-background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -2;
}

.section-background>img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
}

.section-description {
    font-size: 15px;
    text-align: left;
}

.section-title {
    font-size: 26px;
    margin-bottom: 30px;
}

.section-subtitle {
    font-size: 22px;
}

.section-title,
.section-subtitle {
    color: #6f7173;
    font-weight: 500;
}

.section-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

.section-hero .container {
    max-height: 100%;
}

.section-hero {
    font-size: 17px;
    line-height: 40px;
    padding: 30px 0;
}

.section-hero .section-title {
    font-size: 31px;
    font-weight: 300;
    color: #ffffff;
    margin: 0;
}

.section-hero .section-subtitle {
    font-size: 23px;
    font-weight: 300;
    line-height: 35.94px;
    color: #ffffff;
}

.section-image>img {
    height: 100%;
    max-height: 223px;
    width: auto;
}

.section-shopping .section-subtitle {
    text-align: left;
}

@media (min-width: 480px) {
    .section-hero {
        text-align: left;
    }
    .section-subtitle {
        margin: 0 0 30px 0;
    }
    .section-hero .section-title {
        font-size: 28px;
        margin: 0;
    }
    .section-hero .section-subtitle {
        font-size: 20px;
    }
    .section-hero .button {
        font-size: 20px;
    }
}

@media (min-width: 640px) {
    .section {
        text-align: left;
    }
    .section-shopping .section-title {
        font-size: 42px;
        text-align: center;
    }
    .section-subtitle {
        font-size: 34px;
    }
    .section-description {
        font-size: 17px;
    }
    .section-hero .section-body {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    /* .section-hero .section-image>img {
        height: auto;
        max-height: 435px;
        width: 100%;
    } */
    .section-hero .section-title {
        font-size: 31px;
    }
    .section-hero .section-subtitle {
        font-size: 23px;
    }
    .section-hero .button {
        font-size: 31px;
        padding: 8px 13px 12px 13px;
    }
}

@media (min-width: 720px) {
    .section-hero::after {
        content: '';
        height: 10px;
        width: 100%;
        background-image: url(../../image/decore\ \(1\).png);
        background-repeat: repeat-x;
        position: absolute;
        bottom: -1px;
        left: 0;
    }
    .section-shopping .section-subtitle {
        text-align: center;
    }
    .section-shopping .section-description {
        font-size: 20px;
    }
}

@media (min-width: 960px) {
    .section-hero .section-title {
        font-size: 42px;
    }
    .section-hero .section-subtitle {
        font-size: 26px;
    }
    .section-hero .section-image>img {
        height: auto;
        min-height: 435px;
        width: 100%;
    }
    .section-hero .section-body {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .section-shopping {
        padding: 50px 0;
    }
    .section-shopping .section-title {
        text-align: left;
    }
    .section-image {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .section-description {
        font-size: 15px;
    }
    .section-subtitle {
        font-size: 26px;
    }
    .section-shopping .section-image>img {
        max-height: 279px;
        width: 100%;
        margin-top: 30px;
    }
    .section-shopping .section-title {
        margin-bottom: 15px;
    }
    .section-shopping .section-description {
        font-size: 15px;
    }
}